<section class="author">
    <% if(config.avatar) { %>
        <div class="avatar" style="background-image: url(<%- config.avatar %>)" ></div> 
    <% } %>
    <h4><%- config.author %></h4>
    <p><%- config.bio %></p>
</section>