<header class="site-head">
    <div class="slideshow">
      <a href="<%- config.root %><%- config.portfolio %>">
        <div class="slideshow-bg">
        </div>
      </a>
    </div>
    <div class="inner">
      <%- partial('casper/name') %> 
    </div>
</header>