<div class="blog-name">
    <% if (config.logo) { %><a href="<%- config.root %>"><div class="blog-logo" alt="Blog Logo" style="background-image: url(<%- config.root %><%- config.logo %>)" ></div></a><% } %>
    <span class="blog-title"><%- config.title %></span>
</div>