<div class="slideshow">
    <% config.featured.forEach(function(slide, index) { %>
    <a href="<%- config.root %><%- slide.url %>">
    <div class="slideshow-bg"  <% if (slide.svg_url) { %> style="background:url(<%- slide.svg_url %>)"> <% } %>
        <img src="<%- slide.bg_url %>" onload=""></img>
    </div>
    </a>
     <% }); %>
</div>